#------------------------------------------------------------------------------
# File:         exiftool.cfg
#
# Description:  This config file contains tag definitions needed to be able
#               to write Pix4D and Sentera XMP-Camera tags
#
# Usage:        exiftool -config exiftool.cfg -XMP-camera:TAG=VAL ...
#
# Requires:     ExifTool version 7.00 or later
#
# References:   1) https://support.pix4d.com/hc/en-us/articles/360016450032-Specifications-of-xmpcamera-tags
#------------------------------------------------------------------------------

%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        Camera => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Camera',
            },
        },
        'drone-dji' => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::DJI',
            },
        },
    },
);

%Image::ExifTool::UserDefined::Camera = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Camera', 2 => 'Camera' },
    NAMESPACE => { 'Camera' => 'http://pix4d.com/camera/1.0/' },
    WRITABLE => 'string',
    Yaw             => { Writable => 'real' },
    Pitch           => { Writable => 'real' },
    Roll            => { Writable => 'real' },
    IMUSampleSize   => { Writable => 'integer' },
    IMUTimeOffset   => { Writable => 'integer' },
    LineReadoutTime => { Writable => 'integer' },
    IMUFrequency    => { Writable => 'real' },
    PrincipalPoint  => { },
    ModelType       => { },
    PerspectiveFocalLength => { Writable => 'real' },
    PerspectiveDistortion  => { },
    IMULinearVelocity => { },
    GPSXYAccuracy   => { Writable => 'real' },
    GPSZAccuracy    => { Writable => 'real' },
    RigName         => { },
    RigCameraIndex  => { Writable => 'integer' },
    IMUAngularVelocity => {
        Binary => 1,
        ValueConv => 'Image::ExifTool::XMP::DecodeBase64($val)',
        ValueConvInv => 'Image::ExifTool::XMP::EncodeBase64($val)',
    },
    # added 2020/04/02 (ref 1)
    FisheyeAffineMatrix     => { },
    FisheyeAffineSymmetric  => { },
    FisheyePolynomial       => { },
    RigRelatives            => { },
    PerspectiveFocalLengthUnits => { },
    CentralWavelength       => { List => 'Seq' },
    WavelengthFWHM          => { List => 'Seq' },
    BlackCurrent            => { List => 'Seq' },
    BandSensitivity         => { List => 'Seq' },
    SunSensor               => { List => 'Seq' },
    SunSensorExposureTime   => { Writable => 'real' },
    SunSensorSensitivity    => { List => 'Seq' },
    InvalidPixel            => { List => 'Seq' },
    VignettingPolynomial    => { List => 'Seq' },
    VignettingCenter        => { List => 'Seq' },
    VignettingPolynomial2DName => { List => 'Seq' },
    VignettingPolynomial2D  => { List => 'Seq' },
    ColorTransform          => { List => 'Seq' },
    IsNormalized            => { Writable => 'real' },
    Albedo                  => { List => 'Seq' },
    ReflectArea             => { List => 'Seq' },
    CalibrationPicture      => { Writable => 'integer' },
    GyroRate                => { Writable => 'real' },
    IMUPitchAccuracy        => { Writable => 'real' },
    IMURollAccuracy         => { Writable => 'real' },
    IMUYawAccuracy          => { Writable => 'real' },
    NominalCameraDistance   => { Writable => 'real' },
    SunSensorYaw            => { Writable => 'real' },
    SunSensorPitch          => { Writable => 'real' },
    SunSensorRoll           => { Writable => 'real' },
    SunSensorRelativeRotation => { Writable => 'real', List => 'Seq' },
    TransformAlpha          => { List => 'Seq' },
    TransformBeta           => { List => 'Seq' },
    TransformGamma          => { List => 'Seq' },
    SensorBitDepth          => { Writable => 'integer' },
    SensorTemperature       => { Writable => 'real' },
    # (ref https://community.pix4d.com/t/camera-sun-irradiance-and-sun-angle-in-red-text/3290)
    IrradianceRelativeRotation => { },
    Irradiance => { List => 'Seq' },
    IrradianceExposureTime => { Writable => 'real' },
    IrradianceGain => { Writable => 'real' },
    BandName => { List => 'Seq' },
    # Not official pix4d fields
);

%Image::ExifTool::UserDefined::DJI = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-drone-dji', 2 => 'drone-dji' },
    NAMESPACE => { 'drone-dji' => 'http://www.dji.com/drone-dji/1.0/' },
    WRITABLE => 'string',
    # Original GPS/flight tags from built-in DJI::XMP
    AbsoluteAltitude  => { Writable => 'real' },
    RelativeAltitude  => { Writable => 'real' },
    GimbalRollDegree  => { Writable => 'real' },
    GimbalYawDegree   => { Writable => 'real' },
    GimbalPitchDegree => { Writable => 'real' },
    FlightRollDegree  => { Writable => 'real' },
    FlightYawDegree   => { Writable => 'real' },
    FlightPitchDegree => { Writable => 'real' },
    GpsLatitude       => { Writable => 'real' },
    GpsLongtitude     => { Writable => 'real' },
    GpsLongitude      => { Writable => 'real' },
    FlightXSpeed      => { Writable => 'real' },
    FlightYSpeed      => { Writable => 'real' },
    FlightZSpeed      => { Writable => 'real' },
    CamReverse        => { },
    GimbalReverse     => { },
    SelfData          => { },
    CalibratedFocalLength    => { Writable => 'real' },
    CalibratedOpticalCenterX => { Writable => 'real' },
    CalibratedOpticalCenterY => { Writable => 'real' },
    RtkFlag           => { },
    RtkStdLon         => { Writable => 'real' },
    RtkStdLat         => { Writable => 'real' },
    RtkStdHgt         => { Writable => 'real' },
    DewarpData        => { },
    DewarpFlag        => { },
    Latitude          => { Writable => 'real' },
    Longitude         => { Writable => 'real' },
    # Multispectral / M3M tags
    ImageSource => { },
    GpsStatus => { },
    AltitudeType => { },
    RtkDiffAge => { Writable => 'real' },
    NTRIPMountPoint => { },
    NTRIPPort => { Writable => 'integer' },
    NTRIPHost => { },
    SurveryingMode => { Writable => 'integer' },
    UTCAtExposure => { },
    ShutterType => { },
    CameraSerialNumber => { },
    DroneModel => { },
    DroneSerialNumber => { },
    CaptureUUID => { },
    RelativeOpticalCenterX => { Writable => 'real' },
    RelativeOpticalCenterY => { Writable => 'real' },
    DewarpHMatrix => { List => 'Seq' },
    CalibratedHMatrix => { List => 'Seq' },
    VignettingFlag => { },
    VignettingData => { List => 'Seq' },
    LSType => {  },
    LSstatus => {  },
    Packageidx => { },
    Cfgcnt => { },
    RawData => { },
    BandFreq => { List => 'Seq' },
    Irradiance => { List => 'Seq' },
    SensorGain => { },
    SensorGainAdjustment => { },
    SensorIndex => { },
    BlackLevel => { },
    DroneID => { },
);

1;  #end
